{
  "extends": "eslint",
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "require-jsdoc": "off",
    "lines-around-comment": "off",
    "newline-after-var": "off",
    "no-undefined": "off",
    "no-confusing-arrow": "off",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }]
  }
}